@font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/woff2/IRANYekanWebLight.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/woff2/IRANYekanWebRegular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/woff2/IRANYekanWebMedium.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/woff2/IRANYekanWebBold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/woff2/IRANYekanWebExtraBold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/woff2/IRANYekanWebBlack.woff2") format("woff2");
  }
  